<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS:GO</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">

</head>
<body>
    

  <form action="{{ url_for('ans') }}" method="post" enctype="multipart/form-data">

    <fieldset id="content1">
      <legend>Player 1</legend>
      <div class="block">
        <select name="player1" id="player1" required>
          {% for p in grafo.players %}
            <option value="{{ p.identificador }}">{{ p.nome }}</option>
          {% endfor %}
        </select>
        <div id="image1"></div>
      </div>
    </fieldset>

    <fieldset id="content2">
      <legend>Player 2</legend>
      <div class="block">
        <select name="player2" id="player2" required>
          {% for p in grafo.players %}
            <option value="{{ p.identificador }}">{{ p.nome }}</option>
          {% endfor %}
        </select>
        <div id="image2"></div>
      </div>
    </fieldset>

    <div id="send">
      <input type="submit" value="Find Path" >
    </div>
  </form>
</body>

<script src="../static/graph/graph.js"></script>
<script src="{{ url_for('static', filename='gears.js') }}"></script>
{% for p in grafo.players %}
  <img id="img_{{ p.nome }}" src="{{ p.foto }}" class="hiden_image">
{% endfor %}
</html>
