@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    background-image: url('images/wall.jpg');
    background-attachment: fixed;
    background-position: center center;
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}
  
#cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#eat {
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 1em;
    z-index: -1;
    color: #c88;
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 500px;
    min-height: 500px;
    border-radius: 5px;
}
form > fieldset {
    display: block;
    min-height: 200px;
    border-color: rgb(22, 170, 22);
    border-radius: 5px;
}
form > fieldset > legend {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.hiden_image {
    display: none;
}

.block select {
    margin-top: 5px;
    border-radius: 5px;
    height: 30px;
    background-color: white;
    font-family: 'Play', sans-serif;
    font-size: medium;
}

#send {
    display: flex;
    justify-content: center;
}

#send input {
    background-color:  rgb(22, 170, 22);
    color: white;
    font-weight: bold;
    font-size: medium;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 20px;
}

#send input:hover {
    background-color: rgba(22, 170, 22, 0.466);
}